body{
    padding: 0;
    margin: 0;
    background-color: #717a7e;
}


.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }
    .about{
    
    padding: 70px 0;

    }
  .margin_b{

  }
   